.bottle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}
.content {
    padding: 1rem;
    
}
.content h3 {
    font-size: 3rem;
    /* text-transform: uppercase; */
    color: var(--primary);
    
}
.contentList{
    padding: 1rem;
    margin-bottom: .5rem;
}
.contentList h3{
    font-size: 3rem;
    /* text-transform: uppercase; */
    color: var(--primary);
    margin: 0;
}
.presentation {
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden; */
    font-size: 2.2rem;
}
.presentationList{
    margin: 0;
    font-size: 2.2rem;
}
.price {
    color: var(--primary);
    font-size: 3.5rem;
    margin: 0;
    font-weight: 900;
}
.link {
    margin-top: 1rem;
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: 300ms;
    border-radius: 5px;
}
.link:hover {
    background-color: var(--primary);
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}
.form label{
    font-size: 2.2rem;
    text-align: center;
}
.form select{
    border: 1px solid var(--primary);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    margin-top: 2rem;
}
.form input[type='submit'] {
    display: block;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    padding: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
    transition-property: background-color ease;
    transition-duration: 300ms;
}
.form input[type='submit']:hover {
    background-color: var(--primary);
    cursor: pointer;
}